@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme{
    --background-color-mainLight: #ffffff;    
    --background-color-mainDark: #2B2C37;    
    --background-color-bodyLight: #F4F7FD;    
    --background-image-gradientLight: linear-gradient(rgba(121, 132, 147, 0.2), rgba(130, 143, 163, 0.1), rgba(130, 143, 163, 0));
    --background-color-add: #635fc7;    
    --background-color-addHover: #A8A4FF;    
    --background-color-moreHoverLight: #e4ebfa;
    --background-color-moreHoverDark: #20212C;        
    --background-color-boardCardDark: #20212C;    
    --background-color-boardCardLight: #e4ebfa;    
    --border-color-lineLight : #E4EBFA;
    --border-color-lineDark : #3E3F4E;
    --border-color-input : rgba(130,143,163,.4);
    --color-light:#fff;  
    --color-dark:#000;  
    --color-grey: #828fa3;
    --color-red: #EA5555;
    --color-purple:#635fc7;
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --grid-template-rows-main: 6.5rem 1fr;
    --padding-sideBarLeft : 2rem;
    --padding-boardLeft : 2rem;
    --width-left:18.75rem;
    --width-column:18.75rem;
    --letter-spacing-wid:0.15rem ;
    --box-shadow-taskCard:  rgba(54, 78, 126, 0.1)  0px 4px 6px;
    --box-shadow-moreDropDown:  rgba(54, 78, 126, 0.1) 0px 0px 8px;
    --gap-card: 1.5rem
    
    
}

/* linear-gradient(rgba(121, 132, 147, 0.2), rgba(130, 143, 163, 0.1), rgba(130, 143, 163, 0)); */
button{ 
    cursor: pointer;

    
}
input,textarea{
    outline: none;
    && :hover{
        outline: none;
    }
}

.scale{
    transform: scale(.9);
    
}
.shadow{
    box-shadow: rgba(54, 78, 126, 0.1)  0px 4px 6px;
    
}
/* #show{
    position: absolute;
    
} */
#circle {
    transform: translateY(-50%) ;
}
.create_column{
    color: #828fa3;
    
}
.create_column:hover{
    color: #635fc7;
}
.ab_center{
    transform: translateY(-50%) translateX(-50%);
}

/* e4ebf */
/* #side_bar{
    display: grid;
    grid-template-rows: 1fr,7fr;
} */

/* border #C6CDD9 */
/* purple #8471F2 */
/* button purple #635FC7 */
/* blue #49C4E5 */
/* sub text 828fa3 */
